html,
body {
  height: 100%;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Lora", serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
}

.section-title span {
  font-size: 14px;
  color: #dfa974;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title h2 {
  font-size: 44px;
  color: #19191a;
  line-height: 58px;
  margin-top: 10px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.spad-2 {
  padding-top: 50px;
  padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

/* buttons */

.primary-btn {
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}

.primary-btn:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #dfa974;
  content: "";
}

/*---------------------
  Header
-----------------------*/

.header-section .menu-item {
  -webkit-box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
  box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}

.menu-item {
  position: relative;
  z-index: 9;
}

.menu-item .logo {
  padding: 25px 0;
}

.menu-item .logo a {
  display: inline-block;
}

.menu-item .nav-menu {
  text-align: right;
}

.menu-item .nav-menu .mainmenu {
  display: inline-block;
}

.menu-item .nav-menu .mainmenu li {
  list-style: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.menu-item .nav-menu .mainmenu li.active a:after {
  opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover>a:after {
  opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover .dropdown {
  top: 72px;
  opacity: 1;
  visibility: visible;
}

.menu-item .nav-menu .mainmenu li a {
  font-size: 16px;
  color: #19191a;
  margin-right: 42px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li a:after {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: 2px;
  background: #dfa974;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li .dropdown {
  position: absolute;
  left: 0;
  top: 72px;
  width: 180px;
  background: #ffffff;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
  box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}

.menu-item .nav-menu .mainmenu li .dropdown li {
  list-style: none;
  display: block;
}

.menu-item .nav-menu .mainmenu li .dropdown li a {
  font-size: 16px;
  color: #19191a;
  display: block;
  text-align: left;
  padding: 8px 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
  color: #dfa974;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:after {
  display: none;
}

.menu-item .nav-menu .nav-right {
  display: inline-block;
  margin-left: 50px;
  padding: 20px 0px;
}

/* Container cho các nút đăng nhập và đăng ký */
.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons .btn-login,
.auth-buttons .btn-register {
  margin: 0 20px;
  padding: 4px 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 16px;
  border: 2px solid transparent;
  /* Viền ban đầu trong suốt */
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.auth-buttons .btn-login:hover,
.auth-buttons .btn-register:hover {
  border-color: #dfa974;
}

/*---------------------
  Hero
-----------------------*/

.hero-section {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 100px;
}

.hero-section .container {
  position: relative;
  z-index: 5;
}

.hero-text {
  padding-top: 145px;
}

.hero-text h1 {
  font-size: 80px;
  line-height: 90px;
  color: #ffffff;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 35px;
}

.booking-form {
  background: #ffffff;
  padding: 44px 40px 50px 40px;
  border-radius: 4px;
}

.booking-form h3 {
  color: #19191a;
  margin-bottom: 36px;
}

.booking-form form .check-date {
  position: relative;
  margin-bottom: 15px;
}

.booking-form form .check-date label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}

.booking-form form .check-date input {
  width: 100%;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
}

.booking-form form .check-date i {
  color: #dfa974;
  position: absolute;
  right: 18px;
  bottom: 17px;
}

.booking-form form .select-option {
  margin-bottom: 15px;
}

.booking-form form .select-option label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}

.booking-form form .select-option .nice-select {
  border-radius: 2px;
  border: 1px solid #ebebeb;
  height: 50px;
  line-height: 50px;
  outline: none;
  padding-left: 20px;
  width: 100%;
  float: none;
}

.booking-form form .select-option .nice-select:after {
  border-bottom: 2px solid #dfa974;
  border-right: 2px solid #dfa974;
  height: 10px;
  margin-top: 0;
  right: 20px;
  width: 10px;
  top: 36%;
}

.booking-form form .select-option .nice-select span {
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
}

.booking-form form .select-option .nice-select .list {
  margin-top: 0;
  width: 100%;
}

.booking-form form button {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #dfa974;
  border-radius: 2px;
  color: #dfa974;
  font-weight: 500;
  background: transparent;
  width: 100%;
  height: 46px;
  margin-top: 30px;
}

.hero-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero-slider.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  bottom: 23px;
  width: 100%;
  text-align: center;
}

.hero-slider.owl-carousel .owl-dots button {
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hero-slider.owl-carousel .owl-dots button.active {
  width: 30px;
  border-radius: 50px;
  opacity: 1;
}

.hero-slider.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}

.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
  height: 100%;
}

/*---------------------
  About US
-----------------------*/

.about-text {
  text-align: center;
  padding: 0 35px;
}

.about-text p {
  color: #595960;
  font-weight: 500;
}

.about-text p.f-para {
  margin-bottom: 10px;
}

.about-text p.s-para {
  margin-bottom: 35px;
}

.about-text .about-btn {
  color: #19191a;
}

.about-pic img {
  min-width: 100%;
}

/*---------------------
  Service Section
-----------------------*/

.services-section {
  padding-bottom: 60px;
  border-top: 1px solid #e5e5e5;
}

.services-section .section-title {
  margin-bottom: 36px;
}


.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.service-card {
  position: relative;
  border: 1px solid #ebebeb;
  padding: 24px;
  margin-bottom: 30px;
  transition: 0.3s;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.service-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.service-card .sc-text {
  padding: 16px 0;
}

.service-card .sc-text h3 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 10px;
}

.service-card .sc-text p {
  color: #707079;
  margin-bottom: 10px;
}

.service-card .sc-text strong {
  color: #19191a;
}

.price-container {
  margin-top: auto;
  text-align: center;
  padding-top: 16px;
  border-top: 1px solid #ebebeb;
}

/*------------------------
  Home Page Room Section 
-------------------------*/

.hp-room-items {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  padding-top: 150px;
}

.hp-room-items .hp-room-item {
  height: 600px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;
}

.hp-room-items .hp-room-item:hover .hr-text {
  bottom: 135px;
}

.hp-room-items .hp-room-item:hover .hr-text h2 {
  margin-bottom: 30px;
}

.hp-room-items .hp-room-item .hr-text {
  position: absolute;
  left: 45px;
  right: 25px;
  bottom: -250px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hp-room-items .hp-room-item .hr-text h3 {
  color: #ffffff;
  margin-bottom: 15px;
}

.hp-room-items .hp-room-item .hr-text h2 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 50px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hp-room-items .hp-room-item .hr-text h2 span {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.hp-room-items .hp-room-item .hr-text table {
  margin-bottom: 30px;
}

.hp-room-items .hp-room-item .hr-text table tbody tr td {
  font-size: 16px;
  color: #ffffff;
  line-height: 36px;
}

.hp-room-items .hp-room-item .hr-text table tbody tr td.r-o {
  width: 120px;
}

.hp-room-items .hp-room-item .hr-text .primary-btn:after {
  background: #ffffff;
}

/*---------------------
  Testimonial Slider
-----------------------*/

.testimonial-section {
  background: #f9f9f9;
}

.testimonial-section .section-title {
  margin-bottom: 30px;
}

.testimonial-slider.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}

.testimonial-slider.owl-carousel .owl-nav button {
  height: 44px;
  width: 44px;
  border: 1px solid #ebebeb;
  font-size: 24px;
  color: #707079;
  background: #ffffff;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: -190px;
  top: 50%;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.testimonial-slider.owl-carousel .owl-nav button:hover {
  border-color: #19191a;
  color: #19191a;
}

.testimonial-slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -190px;
}

.testimonial-slider .ts-item {
  text-align: center;
}

.testimonial-slider .ts-item p {
  font-size: 20px;
  color: #707079;
  line-height: 30px;
  margin-bottom: 50px;
}

.testimonial-slider .ts-item .ti-author {
  margin-bottom: 60px;
}

.testimonial-slider .ts-item .ti-author .rating {
  display: inline-block;
}

.testimonial-slider .ts-item .ti-author .rating i {
  color: #f5b917;
  font-size: 16px;
}

.testimonial-slider .ts-item .ti-author h5 {
  font-size: 20px;
  color: #19191a;
  display: inline-block;
}

/*---------------------
  Footer Section
-----------------------*/

.footer-section {
  background: #222736;
}

.footer-section .footer-text {
  padding: 80px 0 30px;
}

.footer-section .footer-text .ft-about {
  margin-bottom: 30px;
}

.footer-section .footer-text .ft-about .logo {
  margin-bottom: 20px;
}

.footer-section .footer-text .ft-about .logo a {
  display: inline-block;
}

.footer-section .footer-text .ft-about p {
  color: #aaaab3;
  margin-bottom: 20px;
}

.footer-section .footer-text {
  margin-bottom: 30px;
}

.footer-section .footer-text h6 {
  font-size: 14px;
  color: #dfa974;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 20px;
}

.footer-section .footer-text ul li {
  font-size: 16px;
  color: #aaaab3;
  line-height: 32px;
  list-style: none;
}

/* --------------------------------- Other Pages Styles ----------------------------------- */

/*---------------------
  Breadcrumb Section
-----------------------*/

.breadcrumb-section {
  padding-top: 70px;
  padding-bottom: 80px;
}

.breadcrumb-text {
  text-align: center;
}

.breadcrumb-text h2 {
  font-size: 44px;
  color: #19191a;
  margin-bottom: 12px;
}

.breadcrumb-text .bt-option a {
  display: inline-block;
  font-size: 18px;
  color: #19191a;
  margin-right: 20px;
  position: relative;
  font-weight: 500;
}

.breadcrumb-text .bt-option a:after {
  position: absolute;
  right: -13px;
  top: 1px;
  content: "";
  font-size: 18px;
  font-family: "FontAwesome";
  color: #aaaab3;
}

.breadcrumb-text .bt-option span {
  display: inline-block;
  font-size: 18px;
  color: #aaaab3;
}

/*------------------------
  About Us Page Section
-------------------------*/

.aboutus-page-section {
  padding-top: 0;
  padding-bottom: 70px;
}

.about-page-text {
  margin-bottom: 65px;
}

.about-page-text .ap-title {
  margin-bottom: 30px;
}

.about-page-text .ap-title h2 {
  font-size: 44px;
  color: #19191a;
  margin-bottom: 18px;
}

.about-page-text .ap-title p {
  font-size: 18px;
  color: #707079;
  line-height: 28px;
}

.about-page-text .ap-services li {
  list-style: none;
  font-size: 20px;
  color: #707079;
  line-height: 42px;
}

.about-page-text .ap-services li i {
  color: #dfa974;
  margin-right: 5px;
}

.about-page-services .ap-service-item {
  position: relative;
  height: 420px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.about-page-services .ap-service-item .api-text {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.about-page-services .ap-service-item .api-text h3 {
  color: #ffffff;
}

/*---------------------
  Room Section
-----------------------*/

.rooms-section {
  padding-top: 0;
  padding-bottom: 80px;
}

.room-item {
  margin-bottom: 30px;
}

.room-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.room-item img {
  min-width: 360px;
  min-height: 270px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.room-item .ri-text {
  border: 1px solid #ebebeb;
  border-top: none;
  padding: 24px 24px 30px 28px;
}

.room-item .ri-text h4 {
  color: #19191a;
  margin-bottom: 17px;
}

.room-item .ri-text h3 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 14px;
}

.room-item .ri-text h3 span {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #19191a;
}

.room-item .ri-text table {
  margin-bottom: 18px;
}

.room-item .ri-text table tbody tr td {
  font-size: 16px;
  color: #707079;
  line-height: 36px;
}

.room-item .ri-text table tbody tr td.r-o {
  width: 125px;
}


.room-pagination,
.btn-view {
  text-align: center;
  padding: 20px 0;
}

.room-pagination a {
  font-size: 16px;
  color: #707079;
  border: 1px solid #efd4b9;
  border-radius: 2px;
  padding: 7px 13px 5px;
  margin-right: 7px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.room-pagination a:last-child {
  margin-right: 0;
}

.room-pagination a:hover {
  background: #dfa974;
  color: #ffffff;
}

.btn-view-all {
  display: inline-block;
  padding: 10px 20px;
  color: #707079;
  border: 1px solid #efd4b9;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-view-all:hover,
.btn-search:hover {
  background-color: #dfa974;
  color: #fff;
}

.search-container {
  background: rgba(255, 255, 255, 1);

  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  gap: 20px;
}


.search-form label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  transition: border 0.3s;
}

select {
  padding: 13px;
}

input[type="date"]:focus,
select:focus {
  border: 1px solid #efd4b9;
  outline: none;
}

.btn-search {
  padding: 13px;
  margin-top: 24px;
  background-color: #efd4b9;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.service-details-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.service-details h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.service-details p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.reviews-section {
  margin-top: 30px;
}

.reviews-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.reviews-list .review-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.reviews-list p {
  margin-bottom: 5px;
}

/*-----------------------
  Room Details Section
-------------------------*/

.room-details-section {
  padding-top: 0;
  padding-bottom: 80px;
}

.room-details-item {
  margin-bottom: 50px;
}

.room-details-item img {
  margin-bottom: 40px;
}

.rd-text .rd-title {
  overflow: hidden;
  margin-bottom: 8px;
}

.rd-text .rd-title h3 {
  color: #19191a;
  float: left;
}

.rdt-right {
  float: right;
  text-align: right;
}

.rdt-right a {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  background: #dfa974;
  padding: 14px 28px 13px;
}

.room-details-item .rd-text h2 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 25px;
}

.room-details-item .rd-text h2 span {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #19191a;
}

.room-details-item .rd-text table {
  margin-bottom: 32px;
}

.room-details-item .rd-text table tbody tr td {
  font-size: 16px;
  color: #19191a;
  line-height: 36px;
}

.room-details-item .rd-text table tbody tr td.r-o {
  width: 120px;
  color: #707079;
}

.room-details-item .rd-text p {
  color: #707079;
}

.room-details-item .rd-text p.f-para {
  margin-bottom: 22px;
}


.room-booking {
  padding: 0 30px 0 40px;
}

.room-booking h3 {
  color: #19191a;
  margin-bottom: 30px;
}

.room-booking form .check-date {
  position: relative;
  margin-bottom: 15px;
}

.room-booking form .check-date label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}

.room-booking form .check-date input {
  width: 100%;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
}

.room-booking form .check-date i {
  color: #dfa974;
  position: absolute;
  right: 18px;
  bottom: 17px;
}

.room-booking form .select-option {
  margin-bottom: 15px;
}

.room-booking form .select-option label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}

.room-booking form .select-option .nice-select {
  border-radius: 2px;
  border: 1px solid #ebebeb;
  height: 50px;
  line-height: 50px;
  outline: none;
  padding-left: 20px;
  width: 100%;
  float: none;
}

.room-booking form .select-option .nice-select:after {
  border-bottom: 2px solid #dfa974;
  border-right: 2px solid #dfa974;
  height: 10px;
  margin-top: 0;
  right: 20px;
  width: 10px;
  top: 36%;
}

.room-booking form .select-option .nice-select span {
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
}

.room-booking form .select-option .nice-select .list {
  margin-top: 0;
  width: 100%;
}

.room-booking form button {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #dfa974;
  border-radius: 2px;
  color: #dfa974;
  font-weight: 500;
  background: transparent;
  width: 100%;
  height: 46px;
  margin-top: 30px;
}

/*---------------------
  Contact Section
-----------------------*/

.contact-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-text h2 {
  font-size: 44px;
  color: #19191a;
  margin-bottom: 24px;
}

.contact-text p {
  color: #707079;
}

.contact-text table tbody tr td {
  font-size: 16px;
  color: #19191a;
  line-height: 36px;
  font-weight: 500;
}

.contact-text table tbody tr td.c-o {
  color: #707079;
  width: 75px;
}

.contact-form input {
  width: 100%;
  height: 50px;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  color: #aaaab3;
  padding-left: 25px;
  margin-bottom: 28px;
}

.contact-form input::-webkit-input-placeholder {
  color: #aaaab3;
}

.contact-form input::-moz-placeholder {
  color: #aaaab3;
}

.contact-form input:-ms-input-placeholder {
  color: #aaaab3;
}

.contact-form input::-ms-input-placeholder {
  color: #aaaab3;
}

.contact-form input::placeholder {
  color: #aaaab3;
}

.contact-form textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  color: #aaaab3;
  padding-left: 25px;
  padding-top: 12px;
  margin-bottom: 33px;
  resize: none;
}

.contact-form textarea::-webkit-input-placeholder {
  color: #aaaab3;
}

.contact-form textarea::-moz-placeholder {
  color: #aaaab3;
}

.contact-form textarea:-ms-input-placeholder {
  color: #aaaab3;
}

.contact-form textarea::-ms-input-placeholder {
  color: #aaaab3;
}

.contact-form textarea::placeholder {
  color: #aaaab3;
}

.contact-form button {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  background: #dfa974;
  border: none;
  padding: 14px 34px 13px;
  display: inline-block;
}

.map {
  height: 470px;
  -webkit-box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
  margin-top: 75px;
}

.map iframe {
  width: 100%;
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1554px) and (max-width: 1920px) {
  .hp-room-items .hp-room-item .hr-text {
    bottom: -200px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1250px) {
  .hp-room-items .hp-room-item .hr-text {
    bottom: -288px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}